<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
</head>
<body>
    <%- include('_header') %>
    <h1><%= title %></h1>
    <h3><%= user.name %></h3>
    <h3><%= user.email %></h3>
    
    <div>
        <form action="/addUser" method="post">
              <input type="text" required placeholder="Enter the name" name="inputField" >
              <input type="number"  placeholder="Enter phone number" name="phoneNum" required>
              <button>Add</button>
        </form>
        <ul>
            <% for (const i of contactlist) { %>
              <li>
                <p><%= i.name %> &nbsp; <%= i.phone %></p>
                <span></span>
            </li>
            <% } %>
          </ul>
    </div>
</body>
</html>